.container {
    overflow: scroll;
    position: relative;
}

.fa-solid {
    background-color: rgb(58, 184, 243);
padding-left: 50%;
padding-right: 50%;

}

.row{
    padding-left: 10%;
    padding-right: 10%;
}
.primero{
    background-color: black;
}
.segundo{
    text-align: center;
    background-color: black;
    color: beige;
    
}

.segundo{
    background-color: rgb(58, 184, 243) !important;
    margin-bottom: 1%;
}

.piedepagina{
    background-color:  rgb(58, 184, 243) ;
    padding-top: 1% ;
    padding-bottom: 1%;
}

.fa-brands{
    margin-top: 5%;
    height: 15%;
    width: 15%;
}
body{
    font-family: 'Fasthand', cursive !important; 
font-family: 'Raleway', sans-serif !important;
font-family: 'Sedgwick Ave Display', cursive !important;
}
